.divider {
    padding: 5.6rem 0 2.4rem;
}
.disable {
  display: none !important;
}
hr {
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .content {
    display: flex;
    align-items: center;
    padding-top: 0.8rem;
    justify-content: space-between;
    transition: all 0.15s;
  }
  .content:hover .link {
    display: inline;
  }
  .title {
    font-size: 2.4rem;
  }
  .link {
    font-size: 1.6rem;
    display: none;
    cursor: pointer;
    color: inherit;
  }

  @media all and (max-width : 800px) {
    .content .link {
      display: inline;
    }
  }